.form_btns form.form-inline table a.btn span.fa.fa-trash, #app td.tbl_txt_center a.btn span.fa.fa-trash {
    padding: 5px 10px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    background: #F3635F;
    color: white;
    font-size: 13px;
}
.form_btns .fa-check, span.fa-check {
    color: #46A546;
}
.form_btns form table td a.btn span.fa.fa-ban {
    padding: 3px 9px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    background: #F3635F;
    color: white;
    font-size: 13px;
}

.form_btns form table td a.btn span.fa.fa-check {
    padding: 3px 8px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    background: #5ca43d;
    color: #fefff4;
    font-size: 13px;
}

.tbl_txt_center {
    text-align: center;
    line-height: 35px !important;

}
.form_btns form.form-inline table a.btn span.fa.fa-trash, #app td.tbl_txt_center a.btn span.fa.fa-trash {
    padding: 5px 10px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    background: #F3635F;
    color: white;
    font-size: 13px;
}
.frm_btn_margin {

    margin-right: 20px;
    margin-left: 20px;
}
.frm_delete div div, .frm_delete div.card-body div ,#app div div label {
    float: right;
}
.frm_btn_margin_right {

    margin-right: 20px;
}

.frm_btns {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid #b3b3b3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

}

.btn_publish span, .fa-ban span {
    color: #000;
}
.btn_new {
    background-color: #46A546;
    width: 130px;
    color: #fff;
}

a.frm_btns.btn_new {
    color: #ffffff;
    text-decoration: none;
}
.action_btn {
    margin: 0 20px 0 0;
}
.error_form{
    color: red;
    margin-top: 5px;
}
